apiVersion: apps/v1
kind: Deployment
metadata:
  name: polaris
  labels:
    app: polaris
spec:
  selector:
    matchLabels:
      app: polaris
  template:
    metadata:
      labels:
        app: polaris
    
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: polaris
            items:
              - key: application.properties
                path: application.properties
      
      containers:
        - name: polaris
          resources:
          image: apache/polaris:1.3.0-incubating
          
          ports:
            - containerPort: 8181
              name: polaris-http
              protocol: TCP
            - containerPort: 8182
              name: polaris-mgmt
              protocol: TCP
          
          volumeMounts:
            - mountPath: /deployments/config
              name: config-volume
              readOnly: true
          
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/live
              port: polaris-mgmt
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/ready
              port: polaris-mgmt
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
