---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: phenovar-mysql
  name: phenovar-mysql
spec:
  ports:
    - port: 3306
      protocol: TCP
      targetPort: 3306
  selector:
    app: phenovar-mysql