---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: phenovar-client
  name: phenovar-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phenovar-client
  template:
    metadata:
      labels:
        app: phenovar-client
    spec:
      initContainers:
        - image: ferlabcrsj/phenovar:8fbc9b826ad50f3891849499b3e5bda59b7c6c6a-1769101634
          name: token-generation
          command: ["python", "/opt/entrypoint/entrypoint.py", "get_user_token"]
          env:
            - name: PHENOVAR_CREATE_MISSING_USER
              value: "true"
            - name: PHENOVAR_CLEAN_EXISTING_USER_TOKEN
              value: "false"
            - name: PHENOVAR_TOKEN_FILE
              value: /opt/phenovar-token/token
            - name: PHENOVAR_USERNAME
              value: "automaton"
            - name: MYSQL_HOST
              value: phenovar-mysql
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_USE_SSL
              value: "false"
            - name: DJANGO_CONN_MAX_AGE
              value: "0"
          resources:
            requests:
              memory: "128Mi"
            limits:
              memory: "128Mi"